absl-py==0.6.1
appnope==0.1.0
astor==0.7.1
attrs==18.2.0
backcall==0.1.0
bleach==3.0.2
certifi==2018.11.29
click==6.7
click-plugins==1.0.4
cligj==0.5.0
cycler==0.10.0
Cython==0.29.1
darkflow==1.0.0
decorator==4.3.0
descartes==1.1.0
entrypoints==0.2.3
Fiona==1.7.13
Flask==0.12.2
Flask-API==1.0
gast==0.2.0
GDAL==2.2.4
geopandas==0.4.0
grpcio==1.16.0
h5py==2.8.0
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.13.1
Jinja2==2.9.6
jsonschema==3.0.0a3
jupyter-client==5.2.3
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
lightgbm==2.2.2
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==3.0.2
mistune==0.8.4
mkl-fft==1.0.6
mkl-random==1.0.1
munch==2.3.2
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.7.2
numpy==1.15.4
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
prometheus-client==0.4.2
prompt-toolkit==2.0.7
protobuf==3.6.1
psycopg2==2.7.6.1
ptyprocess==0.6.0
Pygments==2.3.0
pyparsing==2.3.0
pyproj==1.9.5.1
pyrsistent==0.14.7
PySAL==1.14.4.post2
pystan==2.17.1.0
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
pyzmq==17.1.2
Rtree==0.8.3
scikit-learn==0.20.1
scipy==1.1.0
Send2Trash==1.5.0
Shapely==1.6.4.post1
six==1.11.0
SQLAlchemy==1.2.14
tensorboard==1.10.0
tensorflow==1.12.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
